@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  padding-top: 64px;
}

ul {
  list-style: none;
}

label {
  cursor: pointer;
}

header {
  background-color: white;
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

header > ul {
  display: flex;
  justify-content: space-around;
}

header > ul img {
  width: 150px;
}

#mainNav {
  padding-top: 20px;
  width: 600px;
}

#mainNav > ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#loginNav ul {
  padding-top: 20px;
  display: flex;
}

#loginNav ul li {
  width: 70px;
}

#mainNav > ul > li > ul {
  padding-top: 5px;
  display: none;
}

#mainNav ul li:hover .mainNavTitle {
  background-color: gray;
  color: white;
}

#mainNav > ul:hover li ul {
  display: block;
  animation: fadein 0.3s linear;
  background: white;
}

#mainNav ul li ul li {
  padding: 5px 10px;
}

#mainNav ul li ul li a:hover {
  color: #ccc;
  background-color: gray;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #ccc;
}

footer #socialMedia {
  margin-top: 25px;
}

footer #footerMenu {
  margin-top: 10px;
  text-align: center;
}

body {
  background-image: linear-gradient(to right top, #ffcc00 50%, #eee 50%);
  background-size: 100% calc(100% - 100vh + 5px);
  background-repeat: no-repeat;
}

body::after {
  content: "";
  position: fixed;
  top: 5px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}

#slide {
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
}

@keyframes slider {
  0%,
  33.3% {
    transform: translateX(0);
  }
  44.4%,
  66.6% {
    transform: translateX(-33.3%);
  }
  77.7%,
  99.9% {
    transform: translateX(-66.6%);
  }
}

#slider {
  width: 300%;
  display: flex;
  animation: slider 9s linear infinite;
}

#slider img {
  width: 33.3%;
}

@keyframes progressbar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

#progressBar {
  width: 50%;
  height: 10px;
  background-color: gray;
  border: solid 1px black;
  border-radius: 10px;
  transform-origin: left;
  animation: progressbar 3s linear infinite;
  margin: 0 auto;
}

#hotspot {
  width: 50%;
  margin: 50px auto 0;
}

#hotspot #labels {
  display: flex;
  justify-content: space-around;
}

#hotspot input {
  display: none;
}

#hotspot #img {
  margin: 20px auto;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

#hotspot #img img {
  width: 500px;
  height: 500px;
  position: absolute;
  transition: ease-in 0.3s;
}

#img {
  position: relative;
}

#img .description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  height: 80%;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  word-break: keep-all;
  display: none;
  animation: fadein 0.1s linear;
}

#hotspot #전체:checked ~ #img img {
  transform: scale(1);
}

#hotspot #신라대종:checked ~ #img img {
  transform: scale(4) translateX(185px) translateY(180px);
}

#hotspot #신라대종:checked ~ #img:hover #신라대종설명 {
  display: block;
}

#hotspot #대릉원돌담길:checked ~ #img img {
  transform: scale(4) translateX(140px) translateY(100px);
}

#hotspot #대릉원돌담길:checked ~ #img:hover #대릉원돌담길설명 {
  display: block;
}

#hotspot #첨성대:checked ~ #img img {
  transform: scale(4) translateX(70px) translateY(20px);
}

#hotspot #첨성대:checked ~ #img:hover #첨성대설명 {
  display: block;
}

#hotspot #경주계림:checked ~ #img img {
  transform: scale(4) translateX(60px) translateY(-60px);
}

#hotspot #경주계림:checked ~ #img:hover #경주계림설명 {
  display: block;
}

#hotspot #월성:checked ~ #img img {
  transform: scale(4) translateX(-140px) translateY(-70px);
}

#hotspot #월성:checked ~ #img:hover #월성설명 {
  display: block;
}

#hotspot #동궁과월지:checked ~ #img img {
  transform: scale(4) translateX(-160px) translateY(-20px);
}

#hotspot #동궁과월지:checked ~ #img:hover #동궁과월지설명 {
  display: block;
}

#gyongju4season {
  text-align: center;
}

#gyongju4season input {
  display: none;
}

#gyongju4season label {
  padding: 5px 10px;
  border: solid 1px black;
}

.gyongju4seasonGallery {
  display: none;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
  animation: fadein 0.4s linear;
}

.gyongju4seasonGallery img {
  margin-top: 20px;
  width: 600px;
}

#gyongju4season #봄:checked ~ #spring {
  display: block;
}
#gyongju4season #여름:checked ~ #summer {
  display: block;
}
#gyongju4season #가을:checked ~ #autumn {
  display: block;
}
#gyongju4season #겨울:checked ~ #winter {
  display: block;
}

#cultureEvent {
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cultureEvent img {
  width: 300px;
  height: 500px;
}

#cultureEvent label {
  position: relative;
  transition: ease-in-out 0.1s;
}

#content {
  width: 71%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#cultureEvent #content img:hover {
  transform: scale(1.2);
}

#cultureEvent #content img:hover p {
  transform: scale(1.2);
}

#cultureEvent #content img:hover ~ p {
  display: block;
}

#cultureEvent #content:hover img:not(img:hover) {
  transform: scale(0.8);
}

#cultureEvent input {
  display: none;
}

#cultureEvent p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  display: none;
  font-weight: bold;
}

.imgModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.imgModal label {
  font-size: 24px;
}

#c1:checked ~ #cim1 {
  display: flex;
}

#c2:checked ~ #cim2 {
  display: flex;
}

#c3:checked ~ #cim3 {
  display: flex;
}

#c4:checked ~ #cim4 {
  display: flex;
}

#c5:checked ~ #cim5 {
  display: flex;
}

#c6:checked ~ #cim6 {
  display: flex;
}

#c7:checked ~ #cim7 {
  display: flex;
}

#c8:checked ~ #cim8 {
  display: flex;
}